<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.aiplanner.mapper.TExceptionLogMapper">

    <resultMap id="BaseResultMap" type="com.zxy.aiplanner.entity.TExceptionLog">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
            <result property="userId" column="user_id" />
            <result property="exceptionLevel" column="exception_level" />
            <result property="exceptionType" column="exception_type" />
            <result property="exceptionMessage" column="exception_message" />
            <result property="stackTrace" column="stack_trace" />
            <result property="requestMethod" column="request_method" />
            <result property="requestPath" column="request_path" />
            <result property="handledStatus" column="handled_status" />
            <result property="logSource" column="log_source" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_deleted,user_id,exception_level,
        exception_type,exception_message,stack_trace,request_method,request_path,
        handled_status,log_source
    </sql>
</mapper>
