<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.aiplanner.mapper.TRoleMapper">

    <resultMap id="BaseResultMap" type="com.zxy.aiplanner.entity.TRole">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
            <result property="roleName" column="role_name" />
            <result property="roleType" column="role_type" />
            <result property="roleStatus" column="role_status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_deleted,role_name,role_type,
        role_status
    </sql>
</mapper>
