<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.aiplanner.mapper.TStudyPlanTotalMapper">

    <resultMap id="BaseResultMap" type="com.zxy.aiplanner.entity.TStudyPlanTotal">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
            <result property="userId" column="user_id" />
            <result property="examArchiveId" column="exam_archive_id" />
            <result property="planName" column="plan_name" />
            <result property="overallStartDate" column="overall_start_date" />
            <result property="overallEndDate" column="overall_end_date" />
            <result property="dailyTargetMinutes" column="daily_target_minutes" />
            <result property="overallGoal" column="overall_goal" />
            <result property="createSource" column="create_source" />
            <result property="modifySource" column="modify_source" />
            <result property="planStatus" column="plan_status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,is_deleted,user_id,exam_archive_id,
        plan_name,overall_start_date,overall_end_date,daily_target_minutes,overall_goal,
        create_source,modify_source,plan_status
    </sql>
</mapper>
